.container{
    width: 360px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-floating{
    position: relative;
}
.alert{
    position: absolute;
    width: 100%;
}

.sinHelado{
    background-color: blanchedalmond;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.msjHelado{
    font-size: 20px;
    display: ruby;
}

.info-container{
    background-color: blanchedalmond;
    width: 100%;
    border-radius: 5px;
}
.btn{
    width: 35%;
}