<div class="container" >
    @if(!helado){
        <div class="sinHelado">
            <p class="msjHelado">Selecciones un helado para modificarlo</p>
        </div>
    }
    @else{
        <form [formGroup]="form" autocomplete="nope" class="form form-control" (ngSubmit)="onUpdateHelado()">
            <div>
                <h2 class="d-flex justify-content-center ">Modificar helado</h2>
            </div>
            <div class="form-floating mb-5">
                <input type="text" [(ngModel)]="helado.sabor" readonly class="form-control" id="floatingInputSabor" placeholder="sabor" formControlName="sabor">
                <label for="floatingInputSabor">Sabor</label>
                <div *ngIf="form.controls?.['sabor']?.invalid && (form.controls?.['sabor']?.dirty || form.controls?.['sabor']?.touched)"
                    class="alert alert-danger p-0">
                    <div *ngIf="form.controls?.['sabor']?.errors?.['required']">
                        El sabor es requerido.
                    </div>
                </div>
            </div>

            <div class="form-floating mb-5">
                <select class="form-select" [(ngModel)]="helado.tipo" id="floatingSelectTipo" aria-label="Tipo" formControlName="tipo">
                    <option value="agua" selected>Agua</option>
                    <option value="crema">Crema</option>
                </select>
                <label for="floatingSelectTipo">Tipo</label>
                <div *ngIf="form.controls?.['tipo']?.invalid && (form.controls?.['tipo']?.dirty || form.controls?.['tipo']?.touched)"
                class="alert alert-danger p-0">
                <div *ngIf="form.controls?.['tipo']?.errors?.['required']">
                    El tipo es requerido.
                </div>
            </div>
            </div>

            <div class="form-floating mb-5">
                <input type="number" [(ngModel)]="helado.precio" class="form-control" id="floatingInputPrecio" placeholder="sabor" formControlName="precio" min="0">
                <label for="floatingInputPrecio">Precio</label>
                <div *ngIf="form.controls?.['precio']?.invalid && (form.controls?.['precio']?.dirty || form.controls?.['precio']?.touched)"
                    class="alert alert-danger p-0">
                    <div *ngIf="form.controls?.['precio']?.errors?.['required']">
                        El precio es requerido.
                    </div>
                    <div *ngIf="form.controls?.['precio']?.errors?.['min']">
                        El precio no puede valer menos que 0.
                    </div>
                </div>
            </div>

            <div class="form-floating mb-5">
                <input type="number" [(ngModel)]="helado.peso_aprox" class="form-control" id="floatingInputPeso" placeholder="Peso (g)" formControlName="peso_aprox" min="250" max="1000" >
                <label for="floatingInputPeso">Peso (g)</label>
                <div *ngIf="form.controls?.['peso_aprox']?.invalid && (form.controls?.['peso_aprox']?.dirty || form.controls?.['peso_aprox']?.touched)"
                    class="alert alert-danger p-0">
                    <div *ngIf="form.controls?.['peso_aprox']?.errors?.['required']">
                        El peso es requerido.
                    </div>
                    <div *ngIf="form.controls?.['peso_aprox']?.errors?.['min']">
                        El peso no puede ser menor a 250g.
                    </div>
                    <div *ngIf="form.controls?.['peso_aprox']?.errors?.['max']">
                        El peso no puede ser mayor a 1kg.
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center align-items-center">
                <button [disabled]="!this.form.valid" type="submit" class="btn btn-primary">Modificar</button>
            </div>
        </form>
    }
</div>