.container{
    width: 100%;
}

.item_container{
    // height: 300px;
    max-height: 300px;
    overflow-y: auto;
    border-radius: 25px;
    scrollbar-width: none;
}

.item_helado {
    background-color: rgb(43, 183, 226);
    width: 100%;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.item {
    margin: 0;
    padding: 0;
}