<div class="container w-100">
    <div class="row d-flex justify-content-center align-items-center item_container p-3 m-4 w-100 position-relative" style="background-color: rgb(189, 189, 189);">
        <div class="btn" (click)="exportarHeladosPdf()">
            <h2 class="m-0">Exportar PDF</h2>
        </div>
        <div *ngFor="let item of listaHelados" class="d-flex flex-row justify-content-around item_helado w-75" (click)="onEnviarHelado(item)">
            <div class="col-3">
                <p class="item" >{{item.id}}</p>    
            </div>
            <div class="col-2">
                <p class="item" >{{item.sabor}}</p>    
            </div>
            <div class="col-2">
                <p class="item" >{{item.tipo}}</p>    
            </div>
            <div class="col-2">
                <p class="item" >${{item.precio}}</p>    
            </div>
            <div class="col-2">
                <p class="item" >{{item.peso_aprox}}g</p>    
            </div>
        </div>
    </div>
</div>