.card{
    background-color: orange;
    border-radius: 15px;
    padding: 5px;
    margin: 2px;
    h2{
        display: flex;
        justify-content: center;
    }
    img{
        border-radius: 15px;
    }
}